.one{
width: 330px;
height: 300px;
}
.two{
    width: 100%;
    height: 100%;
}
.three{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    
}

.cardcontainer{
    width: 100%;
    height: 500px;
    margin-bottom: 50px;
    
 
}

.react-multiple-carousel__arrow{
    top: 30%!important
}
.carouselcontainer{
    margin: 30px;
    
    height: 100%;
}